.row {
    margin-bottom: 0 !important;
}

/* Material UI slider */
.MuiSlider-root {
    color: #580B71 !important;
}

.collapsible-header {
    align-items: center;
    margin: auto !important;
    /*padding: 1vh !important;*/
    flex-wrap: wrap;
}

.collapsible-header p {
    align-items: center;
    margin: 0 !important
}

@media only screen and (max-width: 600px) {
    .content-box {
        background-color: #FFFFFF;
        color: #2C2C2C !important;
        /* width: 100vh !important; */
        padding: 10px 0px 10px 0px;
    }

    .headline-box {
        padding: 0 15px 0 15px !important;
    }

    h3 {
        font-style: normal !important;
        font-weight: 800 !important;
        font-size: 3.5vh !important;
        text-align: center;
        line-height: 115.18% !important;
        color: #2C2C2C !important;
        padding-left: 0 !important;
    }

    .device-control {
        margin-top: 1vh;
    }

    .device-control-switch {
        margin-top: -37px !important;
    }

    .slider {
        margin-top: -0.5vh;
    }

    .no-slider {
        display: none !important;
    }

    .switch {
        margin-left: -0.5vh !important;
    }

    .no-switch {
        margin-right: 2.5vh !important;
        visibility: hidden;
    }

    .btn-edit {
        margin-left: 0.75vh;
    }

    .display-info {
        width: 100% !important;
        padding: 0.7vh;
        margin-top: -0.1vh !important;
        /*margin-right: 1vh !important;*/
    }

    .btn-edit-no-switch {
        margin-left: 88px !important;
        margin-right: 0 !important;
    }

    .collapsible-header {
        margin: auto !important;
        /*padding: 1vh !important;*/
        flex-wrap: wrap;
    }

    .collapsible-body {
        padding: 0 !important;
    }

}

@media only screen and (min-width: 700px) {
    .headline-box {
        padding: 0 15px 0 15px !important;
    }

    .content-box {
        margin: 5vh auto;
        background-color: #FFFFFF;
        color: #2C2C2C !important;
        width: calc(90% + 5vmin) !important;
        border-radius: 10px;
        padding: 20px 40px 20px 40px;
    }

    .device-name, .device-location {
        white-space: pre !important;
        /*font-size: calc(0.8vh + 1.5vmin) !important;*/
    }

    .slider {
        margin-top: 1vh;
    }

    .switch {
        margin-top: 2vh;
        margin-right: 3vh;
    }

    .no-switch {
        margin-right: 10vh !important;
        visibility: hidden;
    }

    .btn-edit {
        margin-top: 2.5vh;
        margin-left: 3vh;
    }

    .display-info {
        padding: 0.7vh;
        margin-top: 1.5vh !important;
        margin-right: 3vh !important;
    }

    .btn-edit-no-switch {
        margin-left: 112px !important;
        margin-right: 0 !important;
    }

    .btn-primary-circular {
        margin-top: 9px !important;
    }
}

.content-box-transparency {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

@media only screen and (min-width: 900px) {
    .content-box-collapsible {
        margin: 10vh auto !important;
        background-color: #FFFFFF;
        color: #2C2C2C !important;
        width: calc(50% + 5vmin) !important;
        border-radius: 10px !important;
        padding: 20px 40px 20px 40px !important;
    }

    .slider {
        margin-top: 1.25vh;
    }

    .switch {
        margin-top: 1.25vh;
        margin-left: 2vh !important;
        margin-right: 2.5vh;
    }

    .btn-edit {
        margin-top: 1.25vh;
    }

    .no-switch {
        margin-right: 0.70vh !important;
        visibility: hidden;
    }

    .btn-edit-no-switch {
        margin-left: 88px !important;
        margin-right: 0 !important;
    }

    .display-info {
        padding: 0.7vh;
        margin-top: 1vh !important;
        margin-right: 3vh !important;
    }

    .display-info-thermostat {
        padding: 0.7vh;
        height: 30px !important;
    }

}

.flex-container {
    display: flex;
}

.collapsible-body {
    padding: 0 !important;
}

.device-parent {
    background-color: #E8E8E8 !important;
}

.device-child {
    background-color: #F4F4F4 !important;
    border: none !important;
}

.sensor-value {
    padding: 0.7vh;
    width: 80px !important;
    height: 30px !important;
    border-radius: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.btn-simulations-panel-fix {
    margin-top: -2px !important;
}

.btn-video-active {
    font-family: 'Open Sans', Verdana, sans-serif !important;
    margin-top: 0.75vh;
    height: 30px !important;
    border-radius: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 100% !important;
    text-align: center;
    white-space: nowrap;
    background: #FFB800 !important;
    text-transform: none !important;
    color: #580B71 !important;
    border: none;
}

.btn-video-inactive {
    font-family: 'Open Sans', Verdana, sans-serif !important;
    margin-top: 0.75vh;
    height: 30px !important;
    border-radius: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 100% !important;
    text-align: center;
    white-space: nowrap;
    background: #848484;
    text-transform: none !important;
    color: #FFF;
    border: none;
}

.btn-group {
    /*background-color: #FFB800 !important;*/
    /*color: #580B71 !important;*/
    border: 0;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -webkit-appearance: none;
}


.display-info {
    padding: 0.7vh;
    margin-top: 0.75vh;
    /*width: 80px !important;*/
    height: 30px !important;
    border-radius: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.display-info-thermostat {
    padding: 0.7vh;
    border-radius: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.display-active {
    background: #580B71;
}

.display-inactive {
    background: #848484;
}

.expandable-component {
    width: 100%;
    align-self: center;
    justify-content: center;
}

.icons-wrapper {
    display: flex !important;
    text-align: center !important;
    max-height: 40px !important;
    vertical-align: middle !important;
    align-items: center !important;
}

.icon-device {
    height: 40px;
    min-width: 40px;
    width: 40px !important;
    margin-right: 2vh;
}

.muted-icon {
    color: #cecece !important;
}

.is-child {
    display: none !important;
}

.no-slider {
    visibility: hidden !important;
}

.no-switch {
    margin-top: 1.25vh;
    margin-left: 2vh !important;
    margin-right: 1vh;
    visibility: hidden !important;
}

.centered-loading-data-message {
    text-align: center;
    padding: 12vh;
}

form.device-form {
    display: contents !important;
    margin-top: 0 !important;
}

/* Disables unwanted backgorund color on focus being lost in Thermostat state/mode buttons */
button:focus {
    outline: none;
    background-color: transparent;
}
