.row {
    margin-bottom: 0 !important;
}

.row-scene, .col-scene {
    padding: 0 !important;
}

.scenes-panel {
    padding: 15px 0 15px 0;
    align-items: center !important;
}

.scene {
    padding: 15px 0 15px 0;
    align-items: center !important;
    border-bottom: 1px solid #C4C4C4;
    width: 99.9%;
}

.scene-item-name {
    font-weight: 700;
}

.loading-spinner-container {
    padding-top: 30px;
    height: 50px !important;
    text-align: right;
    margin-right: 60px;
    align-content: flex-end;
}

.img-scene-icon {
    /*width: 40px !important;*/
    height: 40px !important;
    min-width: 40px !important;
    min-height: 40px !important;
    margin: 0 auto;
}

.scene-factory-box {
    margin-bottom: 5vh !important;
}

.scene-content-box-top {
    margin-top: 5vh !important;
}

.scene-content-box-instructions {
    margin-top: 1vh !important;
    margin-bottom: -1vh !important;
}

@media only screen and (max-width: 600px) {
    .scene-content-box {
        background-color: #FFFFFF;
        color: #2C2C2C !important;
        /* width: 100vh !important; */
        padding: 10px 0px 10px 0px;
    }

    .headline-box {
        padding: 0 15px 0 15px !important;
    }

    h3 {
        font-style: normal !important;
        font-weight: 800 !important;
        font-size: 3.5vh !important;
        text-align: center;
        line-height: 115.18% !important;
        color: #2C2C2C !important;
        padding-left: 0 !important;
    }

    .scene-header {
        margin: auto !important;
        flex-wrap: wrap;
    }

    .scene-body {
        padding: 0 !important;
    }

}

@media only screen and (min-width: 700px) {
    .headline-box {
        padding: 0 15px 0 15px !important;
    }

    .scene-content-box {
        margin: 10vh auto !important;
        background-color: #FFFFFF !important;
        color: #2C2C2C !important;
        width: calc(60% + 10vmin) !important;
        border-radius: 10px !important;
        padding: 20px 60px 60px 60px !important;
    }

    .btn-primary-circular {
        margin-top: 9px !important;
    }
}

@media only screen and (min-width: 900px) {
    .scene-content-box {
        margin: 10vh auto !important;
        background-color: #FFFFFF !important;
        color: #2C2C2C !important;
        width: calc(60% + 10vmin) !important;
        border-radius: 10px !important;
        padding: 30px 40px 30px 40px !important;
    }

    .scene-content-box-shared {
        margin: 10vh auto !important;
        background-color: #FFFFFF;
        color: #2C2C2C !important;
        width: calc(71.5% + 5vmin) !important;
        border-radius: 10px !important;
        padding: 20px 40px 20px 40px !important;
    }

    .btn-edit {
        margin-top: 1.25vh;
    }
}

.flex-container {
    display: flex;
}

.scene-header {
    margin: auto !important;
    /*padding: 1vh !important;*/
    flex-wrap: wrap;
}

.scene-body {
    padding: 0 !important;
}

.icons-wrapper {
    display: flex !important;
    text-align: center !important;
    height: 40px !important;
    vertical-align: middle !important;
    align-items: center !important;
}

.icon-scene {
    height: 40px !important;
    min-width: 40px !important;
    width: 40px !important;
    margin-right: 2vh;
}

.centered-loading-data-message {
    text-align: center;
    padding: 12vh;
}

.display-none {
    display: none !important;
}


form.scene-form {
    display: contents !important;
    margin-top: 0 !important;
}

.btn-icon-play {
    z-index: 2
}

.btn-icon-play:hover {
    cursor: pointer;
    opacity: 0.75;
}

.btn-icon-duplicate:hover {
    cursor: copy !important;
}

.btn-icon:focus {
    color: #580B71;
}

/* Start Scenes play button animation */
.btn-icon-rotate-clockwise-under {
    position: relative;
    left: 0px;
    top: 0px;
}

.btn-icon-rotate-clockwise-over-1 {
    position: relative;
    left: -40px;
    top: 0px;
    width: 40px;
    height: 40px;
}

.btn-icon-rotate-clockwise-over-2 {
    position: relative;
    left: -80px;
    top: 0px;
    width: 40px;
    height: 40px;
}

.btn-icon-rotate-clockwise-over-3 {
    position: relative;
    left: -120px;
    top: 0px;
    width: 40px;
    height: 40px;
}

.btn-icon-rotate-clockwise-over-4 {
    position: relative;
    left: -160px;
    top: 0px;
    width: 40px;
    height: 40px;
}

@keyframes rotate-clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-clockwise {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.btn-icon-rotate-clockwise-1 {
    transform-origin: 50% 50%;
    animation: rotate-clockwise 4s infinite linear;
}

.btn-icon-rotate-clockwise-2 {
    transform-origin: 50% 50%;
    animation: rotate-clockwise 2s infinite linear;
}

.btn-icon-rotate-clockwise-3 {
    transform-origin: 50% 50%;
    animation: rotate-clockwise 3s infinite linear;
}

.btn-icon-rotate-clockwise-4 {
    transform-origin: 50% 50%;
    animation: rotate-clockwise 1s infinite linear;
}

/* End Scenes play button animation */

.bold {
    font-weight: 700;
}

/* .scenes-factory-name-input {
    width: 35% !important;
} */

.scenes-factory-value-input {
    width: 99.44px !important;
}

.shared-scene-switch {
    float: right !important;
}

.scene-effect-config-switch {
    margin-top: 30px;
}

.steps-header {
    margin: -1vh 0 1vh 1vh;
    font-weight: 700;
    font-size: 18px;
}

.transfer-list-header {
    margin: -1vh 0 1vh 0;
    font-weight: 700;
    font-size: 18px;
    display: flow;
}

.transfer-list-header-max-width {
    width: 100%;
    padding: 0 30px 0 50px;
}


.btn-icon-transfer-list {
    display: flow;
    color: #000000 !important;
    cursor: pointer;
}

.btn-icon-self-size:hover {
    opacity: 0.75 !important;
}

.scene-effect-item {
    height: 86px !important;
}

.scene-effect-value-label {
    margin-top: 36px;
}

.btn-icon-edit-fix {
    padding: 10px !important;
}

.effect-configuration {
    margin: 0 !important;
}

.btn-circular-fix-margin {
    margin-top: -1vh !important;
}

.btn-action-buttons {
    float: right !important;
}

.scene-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 0px;
    background-color: transparent;
}

.display-none {
    display: none;
}

.align-error-message-scene-name {
    float: left !important;
}

.lbl-scene-name-align {
    margin-left: 0 !important;
}

.text-emphasis {
    color: gray;
    font-style: italic;
}

.select-border {
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
}